@page "/"

<PageTitle>Control Panel</PageTitle>

<div class="row">
    <div class="col text-center text-info">
        <h1>Welcome to admin dashboard!</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p>Date: <b class="text-primary">@DateTime.Now.ToShortDateString()</b></p>
        <p>Current Time: <b class="text-primary">@DateTime.Now.ToShortTimeString()</b></p>
    </div>
</div>


