@*152. Удаляем ВСЁ содержимое файла*@
@*153. Создаём своё собственное меню*@

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img src="/Images/Logo_CSharp.jpg"
                     height="50"
                     alt="Logo"/>
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            @*236. В NavMenu меняем логику отображения на основе авторизации*@
            <AuthorizeView>
                <Authorized>
                    <NavLink class="btn btn-outline-primary me-3" href="user-profile">
                        Hello, @context.User.Identity.Name
                    </NavLink>
                    <NavLink class="btn btn-outline-danger me-3" href="logout">
                        <i class="fa-solid fa-right-from-bracket"></i> Loguot
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="text-reset me-3" href="registration">
                        <i class="fa-solid fa-user-plus"></i>
                    </NavLink>
                    <NavLink class="text-reset me-3" href="login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->