@*152. Удаляем ВСЁ содержимое файла*@
@*153. Создаём своё собственное меню*@
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid d-flex flex-row align-items-center">
            <!-- Brand -->
            <NavLink class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
                <img src="/Images/Logo_CSharp.jpg" height="50" alt="Logo" style="margin-top: 2px;" />
            </NavLink>


            <div class="d-flex">
                <NavLink class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                    First
                </NavLink>
                <NavLink class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                    Second
                </NavLink>
                <NavLink class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                    Thrid
                </NavLink>
            </div>

            <ul class="navbar-nav d-flex flex-row">
                <!-- Icons -->
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" href="registration">
                        <i class="fa-solid fa-user-plus" style="font-size:20px;"></i>
                    </NavLink>
                </li>
                <!-- Icon -->
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" href="login">
                        <i class="fa-solid fa-right-to-bracket" style="font-size:20px;"></i>
                    </NavLink>
                </li>
            </ul>
        </div>
</nav>